%h1 Available properties

%table#properties
  %thead
    %tr
      %th Name
      %th Location
      %th Cost
      %th Area
      %th Floor
      %th Services

  %tbody
    - @properties.each do |p|
      %tr
        %td= p.name
        %td= p.location
        %td= p.cost
        %td= p.area
        %td= p.floor
        %td= p.services
