%h2 Find Property

= form_tag properties_path, :method => :get do
  = label :property, :location, 'Location'
  = text_field :property, :location
  %br

  = label :booking, :start, 'Start'
  = date_select :booking, :start
  %br

  = label :booking, :end, 'End'
  = date_select :booking, :end
  %br
  %br

  = submit_tag 'Submit'